.navbar {
  font-family: "Train One", cursive;
  font-size: 2.6em;

  .nav-link {
    font-size: 1em;
    color: gold;
  }

  .navbar-brand {
    color: #fff;
    font-size: 1em;
    margin-left: 12%;
  }
}

// .overlay {
//   position: relative;
//   background-size: cover;
//   height: 100vh;
//   width: 100%;
//   background: #0000006a;
//   top: 0;
//   left: 0;
//   z-index: 1;
// }

#Home {
  background: url("../img/praline.jpeg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .overlay {
    position: absolute;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background: #0000006a;
    top: 0;
    left: 0;
    z-index: 1;
  }

  #brand {
    margin-left: 5%;

    .display-1 {
      color: gold;
      font-size: 8.5em;
      font-family: "Train One", cursive;
      margin-top: 8%;
    }

    h3 {
      color: #fff;
      font-size: 5.5em;
      font-family: "Train One", cursive;
      // margin-left: 1%;
      margin-top: 1%;
      margin-bottom: 3%;
    }

    p {
      color: #fff;
      font-size: 1.5em;
      margin-bottom: 6%;
    }

    a {
      font-size: 2em;
      color: #fff;
    }

    .btn {
      margin-top: 3%;
      border-radius: 35px;
    }
  }
}

#about {
  color: #fff;
  padding-top: 5%;
  padding-bottom: 5%;
  h1 {
    color: #f44;
  }
  background: #d8b90d;
  padding-top: 5%;
}

#middle {
  background: url(../img/dough.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
  font-family: "train one", cursive;
  color: #d8b90d;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;

  .overlay {
    position: relative;
    background-size: cover;
    height: 40vh;
    width: 100%;
    background: #0000004a;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .display-4 {
    font-weight: bold;
    padding-top: 5%;
    margin-top: 5%;
    margin-bottom: 3%;
  }

  h3 {
    margin-bottom: 5%;
    font-weight: bold;
  }

  P {
    font-size: 1.2em;
    font-weight: bold;
  }

  .img src {
    height: 30px;
  }
}

#Pre {
  font-family: "train one", cursive;
  color: #f44;
  text-align: center;
  padding: 0;
  margin-top: 5%;
  margin-bottom: 5%;

  .display-4 {
    font-weight: bold;
    margin-top: 15%;
    margin-bottom: 5%;
  }

  h3 {
    margin-bottom: 5%;
    font-weight: bold;
  }

  P {
    font-size: 1.2em;
    font-weight: bold;
  }

  .lead {
    font-size: 1.5em;
    font-weight: bold;
  }
}

#Pre-2 {
  background: url(../img/cookies.jpeg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  font-family: "train one", cursive;
  color: #d8b90d;
  text-align: center;
  padding: 0;
  margin-bottom: 5%;

  .overlay {
    position: relative;
    background-size: cover;
    height: 40vh;
    width: 100%;
    background: #0000003a;
    top: 0;
    margin-left: 0;
    z-index: 1;
  }

  .display-4 {
    font-weight: bold;
    margin-top: 15%;
    margin-bottom: 5%;
  }

  h3 {
    margin-bottom: 5%;
    font-weight: bold;
  }

  P {
    font-size: 1.2em;
    font-weight: bold;
  }
}

#Pre-3 {
  background: url(../img/domeniile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "train one", cursive;
  color: #f44;
  text-align: center;
  padding: 3%;
  margin-bottom: 5%;

  .overlay {
    position: relative;
    background-size: cover;
    height: 100%;
    width: 100%;
    background: #0000004a;
    top: 0;
    margin-left: 0;
    z-index: 1;
  }

  .display-4 {
    font-weight: bold;
    margin-top: 15%;
    margin-bottom: 5%;
  }

  h3 {
    margin-bottom: 5%;
    font-weight: bold;
  }

  P {
    font-size: 1.2em;
    font-weight: bold;
  }
}

// Cakes page/////////
#cakes {
  height: 20vh;

  margin-bottom: 5%;
  .display-1 {
    padding-top: 5%;
    font-family: "train one", cursive;
    font-size: 3.5em;
    text-align: center;
    color: #f44;
  }

  .lead {
    font-size: 1.2em;
    color: #f44;
    line-height: 1.5em;
    font-weight: bold;
    text-align: center;
  }
}

.project-item {
  margin-bottom: 5%;
  h5 {
    margin-top: 5%;
  }
}

////////// Testimonials //////////
#Testimonials {
  background: url(../img/prakash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "train one", cursive;
  color: #f44;
  text-align: center;
  height: 90vh;
  padding: 0;
  // margin-bottom: 5%;

  .overlay {
    position: initial;
    background-size: cover;
    height: 100%;
    width: 100%;
    background: #0000009a;
    top: 0;
    margin-left: 0;
    z-index: 1;
  }

  .rounded-circle {
    padding-top: 25%;
    width: 45%;
  }

  .display-4 {
    font-weight: bold;
    margin-top: 15%;
    margin-bottom: 5%;
  }

  h3 {
    margin-bottom: 5%;
    font-weight: bold;
  }

  P {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    color: #d8b90d;
  }
}

#occ {
  font-family: "train one", cursive;
  color: #f44;
  text-align: center;
  padding: 0;
  margin-bottom: 5%;

  .display-4 {
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  h3 {
    margin-bottom: 5%;
    font-weight: bold;
  }

  P {
    font-size: 1.2em;
    font-weight: bold;
  }
}

#contact {
  font-family: "train one", cursive;
}

footer {
  // background-image: url(../img/praline.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #1a1818;

  // .overlay {
  //   position: relative;
  //   height: 100%;
  //   width: 100%;
  //   background: #1d1c1c00;
  //   top: 0;
  //   left: 0;
  //   z-index: 1;
  // }

  // #Testimonials {
  //   .display-4 {
  //     color: #76574b;
  //     font-weight: bold;
  //     font-family: "Lobster", cursive;
  //     font-size: 7.5em;
  //     padding-bottom: 0.3em;
  //   }
  // }

  .fa {
    color: #d8b90d;
  }

  p {
    color: #fff;
    line-height: 25px;
  }

  h2,
  h3 {
    color: #d8b90d;
  }

  h2 {
    font-size: 1.5em;
  }

  .footer-top {
    padding: 80px 0;
  }

  .segment-one h3 {
    font-family: "Times New Roman", Times, serif;
    color: #d8b90d;
    letter-spacing: 3px;
    margin: 10px 0;
  }

  .segment-two {
    color: #d8b90d;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
  }

  .segment-two h2:before {
    content: "|";
    color: #f00;
    padding-right: 10px;
  }

  .segment-two ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .segment-two ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 40px;
  }

  .segment-two ul li a {
    color: #fff;
    text-decoration: none;
  }

  .segment-three h2 {
    color: #d8b90d;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
  }

  .segment-three h2:before {
    content: "|";
    color: #f00;
    padding-right: 10px;
  }

  .segment-three a {
    background: #d8b90d;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
  }

  .segment-three a i {
    font-size: 20px;
    color: #f44;
    padding: 10px 12px;
  }

  .segment-four h2 {
    color: #d8b90d;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
  }

  .segment-three h2:before {
    content: "|";
    color: #f44;
    padding-right: 10px;
  }

  .segment-four form input[type="submit"] {
    background: #d8b90d;
    border: none;
    padding: 3px 15px;
    margin-left: -5px;
    font-weight: bold;
    color: #f44;
    text-transform: uppercase;
  }

  .footer-bottom {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.3em;
    background: #d8b90d;
    font-weight: bold;
    line-height: 80px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #about {
    // background: linear-gradient(-120deg, #76574b 50%, #4e3c36 50%);
    // height: 70vh;

    .row {
      margin-top: 4.5%;
    }

    .img-text {
      width: 100%;
      height: 300px;
      display: block;
      text-align: center;
      padding: 40% 5%;
      background: #572c1a;
      color: #bc8d59;
      border-radius: 15px;
    }

    .img-text h2 {
      font-size: 25px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .img-text-p {
      font-size: 14px;
    }

    .single-box {
      position: relative;
      margin-bottom: 30px;
    }

    .img-area {
      position: absolute;
      width: 50%;
      // height: 100px;
      border: 5px solid #bc8d59;
      overflow: hidden;
      top: 5%;
      left: 25%;
      align-content: center;
      border-radius: 50%;
    }

    .carousel-indicators {
      left: 0;
      top: auto;
      bottom: -70px;
    }

    .carousel-indicators li {
      background: #76574b;
      border-radius: 50%;
      width: 15px;
      height: 15px;
    }

    .carousel-indicators .active {
      background: #000;
    }

    .img-area img {
      width: 100%;
    }

    .img-fluid {
      width: 300px;
    }

    .card-title {
      font-size: 2.5em;
      color: #fff;
    }

    .card-body {
      font-size: 1.8em;
      color: #fff;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #about {
    //  background: linear-gradient(-120deg, #76574b 50%, #4e3c36 50%);
    //  height: 70vh;

    // .row {
    //   margin-top: 4.5%;
    // }

    .img-text {
      width: 100%;
      height: 300px;
      display: block;
      text-align: center;
      padding: 40% 5%;
      background: #312e2e;
      color: #fff;
      border-radius: 15px;
    }

    .img-text h2 {
      font-size: 25px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .img-text-p {
      font-size: 14px;
    }

    .single-box {
      position: relative;
      margin-bottom: 30px;
    }

    .img-area {
      position: absolute;
      width: 50%;
      // height: 100px;
      border: 5px solid #fff;
      overflow: hidden;
      top: 5%;
      left: 25%;
      align-content: center;
      border-radius: 50%;
    }

    .carousel-indicators {
      left: 0;
      top: auto;
      bottom: -70px;
    }

    .carousel-indicators li {
      background: #76574b;
      border-radius: 50%;
      width: 15px;
      height: 15px;
    }

    .carousel-indicators .active {
      background: #000;
    }

    .img-area img {
      width: 100%;
    }

    .img-fluid {
      width: 300px;
    }

    .card-title {
      font-size: 2.5em;
      color: #fff;
    }

    .card-body {
      font-size: 1.8em;
      color: #fff;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1380px) {
  #about {
    //  background: linear-gradient(-120deg, #76574b 50%, #4e3c36 50%);
    //  height: 70vh;

    .row {
      margin-top: 4.5%;
    }

    .img-text {
      width: 100%;
      height: 300px;
      display: block;
      text-align: center;
      padding: 40% 5%;
      background: #161515;
      color: #fff;
      font-size: 1.2em;
      font-weight: bold;
      border-radius: 15px;
    }

    .img-text h2 {
      font-size: 25px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .img-text-p {
      font-size: 14px;
    }

    .single-box {
      position: relative;
      margin-bottom: 30px;
    }

    .img-area {
      position: absolute;
      width: 50%;
      // height: 100px;
      border: 5px solid #f44;
      overflow: hidden;
      top: 5%;
      left: 25%;
      align-content: center;
      border-radius: 50%;
    }

    .carousel-indicators {
      left: 0;
      top: auto;
      bottom: -70px;
    }

    .carousel-indicators li {
      background: #312;
      border-radius: 50%;
      width: 15px;
      height: 15px;
    }

    .carousel-indicators .active {
      background: #f44;
    }

    .img-area img {
      width: 100%;
    }

    .img-fluid {
      width: 300px;
    }

    .card-title {
      font-size: 2.5em;
      color: #fff;
    }

    .card-body {
      font-size: 1.8em;
      color: #fff;
    }
  }
}
